<div class="chat-body">
    
    <div class="message">
        <header>Bonk:</header>
        <p>
            This is a test message 1 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </p>
        <footer>16:02</footer>
    </div>
    <div class="message">
        <header>Bonk1:</header>
        <p>
            This is a test message 1
        </p>
        <footer>16:02</footer>
    </div>
    <div class="message">
        <header>Bonk1:</header>
        <p>
            This is a test message 2
        </p>
        <footer>16:02</footer>
    </div>
</div>
<div class="chat-input">
    <input type="text" />
    <button>Send</button>
</div>